# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables & API Keys
.env

# YOLO runs & outputs
runs/
NGAWUR_Runs/
output/
_temp_infer.jpg

# Weights (keep folder structure)
models/*.pt
!models/.gitkeep

# Dataset zip files
*.zip
dataset/*.zip
dataset

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/